*{
    margin: 0;
    padding: 0;
}

.fundo{
    /* background-image: linear-gradient(30deg, rgb(34, 35, 145), rgb(79, 42, 165)); */
    background-image: url(../img/chamas.gif);
    background-size: cover;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
  
    border: solid red;
    position: absolute;
    background-color: rgba(161, 34, 34, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.botao:hover{
    background-color: black;
}

#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 5px;
}